h1{
    color:red;
}
#heading-2
{
    color:blue;
}
.heading
{
    color:pink;
}
.yes
{
    color:aqua;
    border: 2px;
    border-color:aquamarine;
    border-style: dotted;
    padding: 20px;
    text-align: center;
}